
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.mapItem {
    width: 100%;
	height: 100%;
}

.searchInput {
  right: 0px;
  top: 0px;
  width: 283px;
  height: 100%;
  display: block;
  z-index: 10;
}

.searchItem {
	position: absolute;
}

.searchContainer {
	position: absolute;
  right: 0px;
  top: 0px;
  width: 320px;
  height: 100%;
  display: block;
  background-color: rgba(0,0,0,0.2);
  z-index: 0;
}

.searchContent {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  display: block;
}

.searchTitle {
	margin-bottom: 5px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.searchHeader {
		padding: 10px;
    position: relative;
    width: 100%;
    height: 120px;
    text-align: left;
    display: block;
    z-index: 500;
    background-color: #80ab00;
    border-radius: 5px 5px 0 0;
}

.searchBody {
  position: absolute;
  top: 120px;
  bottom: 0px;
  width: 100%;
  display: block;
  color: #000;
  font-size: 12px;
  text-align: left;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}

.directionContainer {
	width: 300px;
}

.dragIcon {
	width: 20px;
	float: left;
}

.locationIcon {
	width: 20px;
}


#sortable {
	list-style-type: none;
	margin: 0;
  padding: 0;
	width: 100%;
	color: #6e6e6e;
	font-weight: 600;
}

#sortable li { 
	padding: 0.4em; 
	font-size: 1em; 
	min-height: 50px;
}

#sortable li span { 
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  width: calc(100% - 50px);
}

.hzLine {
	border-top: 1px solid #000;
	margin: 5px 0;
}

.collapseHeader {
	height: 30px;
	padding: 5px 0;
	display: flex;
}

.collapseBody {
	padding: 0px 8px 8px 8px;
	font-weight: 700;
}

.tableContainer{
	text-align: left;
  font-size: 12px;
  line-height: 14px;
  color: #6e6e6e;
}

.attrName {
	color: #888;
  padding-right: 5px;
	padding: 2px;
  padding-bottom: 5px;
}

.attrValue {
	padding: 2px;
    padding-bottom: 5px;
}

.searchBtn {
	position: absolute;
  right: 10px;
  top: 45px;
  height: 34px;
}

.textInput {
	width: 88%;
}

.buttonContainer {
    bottom: 0;
    position: absolute;
}

.routeButton {
	width: 300px;
	background-color: #80ab00;
	border-color: #80ab00;
	color: #fff;
  border-radius: 0 0 5px 5px;
}

.routeButton:hover {
	  color: #fff;
    background-color: #628300;
    border-color: #628300;
}

.routeButton:active {
	  color: #fff;
    background-color: #628300;
    border-color: #628300;
}

.routeButton:focus {
	  color: #fff;
    background-color: #628300;
    border-color: #628300;
}

.menuButtonContainer {
	z-index: 0;
  position: absolute;
  left: 10px;
  top: 10px;
}

.menuButton {
	background-color: #80ab00;
  color: #fff;
  width: 160px;
}

.menuButton:hover {
	  color: #fff;
    background-color: #628300;
    border-color: #628300;
}

.menuButton:focus {
	  color: #fff;
    background-color: #628300;
    border-color: #628300;
}

.dropdownItem {
	display: list-item;
	padding-left: 3px;
}
